header div.container {
    color: white;
}

#ani-btn1{
  border-radius: 25px;
  background-color: #ea1538;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: white;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.437),2px 2px 5px rgba(0, 0, 0, 0.599);
  border-bottom: brown;
}

#ani-btn2{
  margin-left: 20px;
  border-radius: 25px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.437),2px 2px 5px rgba(0, 0, 0, 0.599);
  border-bottom: brown;
}

.navtitle {
    color: whitesmoke;
}

.head {
    background: radial-gradient(circle, rgba(20,20,9,1) 85%, rgba(55,16,16,1) 100%);
    color: white;
}

nav a:hover{
    color: rgb(227, 57, 57);
    
}

.btn-nav {
    color: rgb(227, 57, 57);
}

.btn-nav:active {
    transform: scale(0.97);
}

body {
    background: radial-gradient(circle, rgba(20,20,9,1) 85%, rgba(55,16,16,1) 100%);
}

nav{
  
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
position: fixed;
width: 100%;
margin-top: -15px;
padding-top: -10px;
z-index: 100;
}

.title-text {
    color: rgb(227, 57, 57);
}

.main-text {
    color: whitesmoke;
}

.ul-head {
    color: gray;
}

.btn-main:active {
    transform: scale(0.97);
}

.cat-list li a{
    color: whitesmoke;
}

.cat-list li a:hover{
    color: rgb(227, 57, 57);
}

.foot {
    background: radial-gradient(circle, rgba(20,20,9,1) 85%, rgba(55,16,16,1) 100%);
}

/* =================== POPULAR COURSES ===================== */
  
  .courses {
    margin-top:2rem;  
  }
  
  .headingh2{
    font-weight: 600;
    font-size: 50px;
  }

  .courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
  }

  .course__image img{
    border-radius: 20px;
  }
  
/*   .main-img{
    height: 350px;
    margin-top: 10px;
    background-image: url(/images/2.jpg);
    background-color: none;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: var(--transition);
    box-shadow: 0 0 30px 0.1px hsla(0, 0%, 0%, 0.955);
    border-color: #08b9b94b;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: #0077B5;
    border-image:auto;
  }
 */
  .course{
    background: var(--color-bg2);
    text-align: center;
    border-radius: 20px;
    transition: var(--transition);
    box-shadow: 0 0 30px 0.1px hsla(0, 0%, 0%, 0.955);
    border-color: #08b9b94b;
    border-top: .5px solid;
    border-bottom: 2px solid;
    border-right: 4px solid;
    border-color: #b50000;
    border-image:auto;
  }
  
  #ani-btn3{
  border-radius: 25px;
  background-color: #ea1538;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: white;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.437),2px 2px 5px rgba(0, 0, 0, 0.599);
  border-bottom: brown;
  }

   #ani-btn4{
  border-radius: 25px;
  background-color: #ea1538;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: white;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.437),2px 2px 5px rgba(0, 0, 0, 0.599);
  border-bottom: brown;
  }

   #ani-btn5{
  border-radius: 25px;
  background-color: #ea1538;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: white;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.437),2px 2px 5px rgba(0, 0, 0, 0.599);
  border-bottom: brown;
  }

  .course:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .course__info {
    padding: 2rem;
    color: rgba(255, 255, 255, 0.603);
    
    
  }
  
  .course__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
  }

header {
  margin-bottom: 15px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%; 
}

.logo {
  color: white;
  font-size: 28px;
}

span {
  color: #ea1538;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ea1538;
  transition: .3s;
}

nav button {
  border: none;
  background: #ea1538;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
}

nav button a{
  color: white;
  text-decoration: none;
}

nav button a:hover{
  transition: scale(1.3);
  color: white;
}

nav button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: rgba(55,16,16);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(55,16,16);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #fd1010;
}
