html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5s ease;
}

.main-container {

    min-height: 100vh;
    padding-top: 5rem;
}
.card
{
    margin-top: 80px;
    color: black;
    border-radius: 20px;

}

.card-body{
    background-color: black;
    color: white;
    border-radius: 0;
    border-bottom:2px solid red;
    border-radius: 5px;
}
.img{
    border-radius: 10px;
}
.card-title{
    color: red;
}
